.box {
    border: 1px solid red;
    /* padding: 0px; */
    /* flex: 1 0 auto; */
    /* flex-basis: 25%; */
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin: auto;
    width: 80vh;
    height: 80vh;
    border: 10px solid blue;
}